<!--Name: Fidelis Osikhena Student ID: 300977916 Date: 10/10/20-->

<!--Bottom Nav-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #1E48CE;">
    <h6 class="display-6">&copy; Copyright 2020. All Rights reserved</h6>
  </nav>
</footer>