<!--Name: Fidelis Osikhena Student ID: 300977916 Date: 10/10/20-->

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Here's some information on me</h1>
    <hr class="my-4">
    <p> <img src="/assets/images/me.jpg" style="float: left;"/>
        My Name is Fidelis.
        <br><br>I'm a student at Centennial College.
        <br><br>I am an extremely bright and hardworking peron.
        <br><br>I am very knowledgeable programming methodologies and website design.
        <br><br>I am also very proficent in C#, Java, Html and Javascript
        <br><br>Check out my resume below
        <br><br><a class="btn btn-primary btn-lg" href="/assets/docs/resume.pdf" role="button">resume</a></p>
  </div>
</main>