<!--Name: Fidelis Osikhena Student ID: 300977916 Date: 10/10/20-->

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Contact Me</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Contact Information
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: Fidelis Osikhena</li>
          <li class="list-group-item">Phone Number: (647)-781-5971</li>
          <li class="list-group-item">Email Address: oshomahosikhena@gmail.com</li>
        </ul>
      </div>
      <h1 class="display-4">Send me a message</h1>
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="" class="form-control" id="exampleFormControlInput1" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<a class="btn btn-primary btn-lg" href="/Home" role="button">Send</a>
  </div>
</main>