<!--Name: Fidelis Osikhena Student ID: 300977916 Date: 10/10/20-->

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my <%= title %> page</h1>
    <p class="lead">Thanks for visting my website</p>
    <hr class="my-4">
    <p>To learn more about me click the button below.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
  </div>
</main>