<!--Name: Fidelis Osikhena Student ID: 300977916 Date: 10/10/20-->

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Here is a list of services that I offer</h1>
    <hr class="my-4">
<span class="border">
<div class="card" style="width: 18rem;">
  <img src="/assets/images/java.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Java Programming.</p>
  </div>
</div>
</span>
<span class="border">
<div class="card" style="width: 18rem;">
  <img src="/assets/images/android.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Android Development.</p>
  </div>
</div>
</span>
<span class="border-top">
<div class="card" style="width: 18rem;">
  <img src="/assets/images/web.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Web Development.</p>
  </div>
</div>
</span>
<span class="border-bottom"></span>
<span class="border-left"></span>
  </div>
</main>