<!--Name: Fidelis Osikhena Student ID: 300977916 Date: 10/10/20-->

<!-- JavaScript Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>